.lineup_marker {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url('../../assets/reconMarker.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(57, 100, 241, 0.35);
    cursor: pointer;
}

.lineup_marker:hover {
    transform: scale(1.1, 1.1);
    outline: 1px solid rgb(114, 187, 255);
    background-color: rgb(57, 100, 241, 0.4);
}

.active {
    outline: 1px solid rgb(114, 187, 255);
    background-color: rgb(57, 100, 241, 0.4);
}