.container {
    height: calc(100% - 132px);
    opacity: 1;
    height: 100%;
    position: relative;
}

.lineup_map_container {
    user-select: none;
    -webkit-user-drag: none;
    user-zoom: zoom;
    -webkit-user-drag: none;
    /* pointer-events: none; */
}

.lineup_map_container~div {
    width: 4%;
    height: 4%;
    max-width: 30px;
    max-height: 30px;
    transform: translate(-50%, -50%);
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: inherit;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.1);
}

.background_text {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    text-transform: capitalize;
    top: 25rem;
    text-align: left;
    font-size: 30rem;
    font-family: "ValorantFont", sans-serif;
    -webkit-text-stroke: 1px rgba(163, 158, 144, 0.438);
    line-height: 25rem;
    width: calc(80% - 2px);
}

.main_left {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 60%;
    border-right: 1px solid rgb(167, 167, 167);
    position: relative;
    overflow-y: auto;
}

.info {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 8rem;
    border-left: 1px solid rgb(145, 145, 145);
    height: 100%;
    padding-bottom: 4rem;
    box-sizing: border-box;
    position: relative;
}

.info::after {
    content: '';
    height: 3rem;
    width: 40%;
    top: 0;
    right: 0;
    background: rgb(5, 16, 34);
    position: absolute;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
}

.info::before {
    content: '';
    height: .5rem;
    width: .5rem;
    top: 0;
    left: 0;
    background: rgb(255, 70, 85);
    position: absolute;
}

.title {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-left: 1rem;
    font-size: 3rem;
    margin: 0;
    font-family: 'GoodTimes', 'Roboto', sans-serif;
}

.main_right {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 4rem;
    gap: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.main_right::before {
    content: '';
    position: absolute;
    height: 3rem;
    width: 30%;
    top: 0;
    left: 0;
    background: rgb(5, 16, 34);
    -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}

.info_media {
    position: relative;
    margin-top: 4rem;
}

.info_text_container {
    position: relative;
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.info_text_container::after {
    content: '.  . /';
    font-size: 2rem;
    top: 50%;
    right: -2rem;
    color: rgb(255, 70, 85);
    position: absolute;
}

.info::before {
    content: '';
    height: 3rem;
    width: .3rem;
    top: 50%;
    left: 0;
    color: rgb(255, 70, 85);
    position: absolute;
}

.info_text {
    font-size: 1.6rem;
    padding: 2rem 2rem 0;
    margin: 0;
}

.map_container {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.map {
    display: block;
    width: 100%;
}

.map_wrapper {
    border: 2px solid rgb(105, 105, 105);
    width: 100%;
    position: relative;
}

.map_wrapper::after {
    content: "";
    display: block;
    position: absolute;
    height: 6rem;
    width: .5rem;
    top: calc(50% - 3rem);
    right: -.5rem;
    background-color: rgb(255, 70, 85);
}

.map_wrapper::before {
    content: "";
    display: block;
    position: absolute;
    height: 6rem;
    width: .5rem;
    top: calc(50% - 3rem);
    left: -.5rem;
    background-color: rgb(255, 70, 85);
}

.map_container::before {
    content: '';
    position: absolute;
    width: .5rem;
    height: 2rem;
    background: rgb(151, 151, 151);
    top: 0;
    right: 2rem;
}

.map_block {
    position: absolute;
    height: 1.5rem;
    width: 40%;
    background: rgb(139, 151, 143);
    bottom: -1.5rem;
    right: -1px;
    z-index: 0;
}

.map_line {
    position: absolute;
    height: .4rem;
    width: .4rem;
    background: rgb(139, 151, 143);
    bottom: 0rem;
    left: -5rem;
    z-index: 0;
}

.videoWrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 80%;
    height: auto;
}

@media only screen and (max-width: 1399px) {
    .main {
        flex-direction: column;
    }

    .main_right {
        width: 100%;
        height: auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .main_left {
        width: 100%;
        overflow-y: visible;
    }
}


@media only screen and (max-width: 899px) {
    .title {
        font-size: 2rem;
    }

    .right_container {
        margin-top: 0rem;
    }
}


@media only screen and (max-width: 479px) {
    .container {
        height: 100%;
    }
}